body{
  font-family: "Helvetica Neue", Helvetica, 'Roboto', Arial, sans-serif;
  font-size: 16px;
  color: #4B4B4B;
}

section .heading{
  margin-bottom: 30px;
}

/* navigation */
.navbar-brand {
  position: absolute;
  left: 50%;
  top: 16px;
  display: block;
  margin: 0px auto auto -35px !important;
  padding: 0px;
}

.navbar{
  position: relative;
}




/* banner */
/* #dormoco-banner {
  width: 100%;
  height: 70vh;
  display: block;
  background-image: url("https://c1.staticflickr.com/5/4667/39577330225_333519e7b9_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

#dormoco-banner-container{
  perspective: 800px;
}

section#dormoco-banner{
  margin:0px auto;
  padding: 0px;
  display: table;
  position:relative;
  margin-top:6vh;
  width: 95%;
  height:500px;
  border-radius:8px;
  background-image: url("img/banner.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  /*-webkit-transform: translateZ(40px);*/
              /*-moz-transform: translateZ(40px);
               -ms-transform: translateZ(40px);
                -o-transform: translateZ(40px);
                   transform: translateZ(40px);*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                           -webkit-transform: rotateX(0deg), rotateY(0deg); /* Chrome, Safari, Opera  */
            -moz-transform:rotateX(0deg) rotateY(0deg);
            -ms-transform:rotateX(0deg) rotateY(0deg);
            -o-transform:rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
}




/* Choose your role */
section#dormoco-roles{
  margin-top: 60px;
}

#dormoco-roles .row p{
  font-size: 16px;
  padding: 20px;
}

#dormoco-roles .dormoco-role{
  position: relative;
  width: 70%;
  border-radius: 6px;
  padding-top: 98%; /* 1.4*width */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: normal;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.22), 0 6px 31px 0 rgba(0, 0, 0, 0.21);
  margin: 10px auto;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

#dormoco-roles .dormoco-role:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

#dormoco-roles .dormoco-role h3{
  position: absolute;
  top:calc(50% - 8px);
  left: 0px;
  right: 0px;
  text-align: center;
  color: white;
  font-size: 26px;
}

a.clickable-block{
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

@media (max-width: 767px){
  #dormoco-roles .dormoco-role{
    width: 90%;
    border-radius: 6px;
    padding-top: 51%; /* 0.75 or 0.5625 width */
  }

  section#dormoco-banner {
    height: 300px;
  }
}

/* team members */
section#dormoco-team{
  margin-top: 60px;
}

section#dormoco-team h2{
  font-size: 28px;
}



section#dormoco-team p, hr{
  padding: 0px;
}

#dormoco-team .card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.22), 0 6px 31px 0 rgba(0, 0, 0, 0.21);
  margin: 10px auto;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
  border-bottom: none;
}

#dormoco-team .card:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

#dormoco-team .container{
  margin-top: 10px;
  position: relative;
}

#dormoco-team .card a{
  float: right;
  width: 45px;
}

#dormoco-team .card h2{
  font-size: 22px;
}

#dormoco-team .card .container > div:first-of-type {
float: left;
}





#dormoco-team .card p{
  font-size: 16px;
}

#dormoco-team .card img{
  border-radius: 4px 4px 0px 0px;
  width: 100%;
}

#dormoco-team .title {
  color: grey;
  font-weight: 100;
  font-size: 0.72em;
}





/* Recommendation */
section#dormoco-recommendation{
  margin: 60px auto;
  text-align: center;
}

section#dormoco-recommendation p, hr{
  padding: 0px;
}

section#dormoco-recommendation .recommened-house{
  position: relative;
  width: 90%;
  padding-top: 60%; /* 0.66*width */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.22), 0 6px 31px 0 rgba(0, 0, 0, 0.21); */
  margin: 50px auto;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
}

section#dormoco-recommendation .recommened-house .star{
  position: absolute;
  bottom: -1.5em;
  left: 0px;
}

section#dormoco-recommendation .recommened-house .star img{
  width: 14px;
 margin-right: 0.5em;
}





